/****** PLACE YOUR CUSTOM STYLES HERE ******/


/*Index Page Styles*/
/**********************************************/
.breadcrumb-2 > li + li:before {
  padding: 0 16px;
  color: transparent;
}
.muted {
  font-weight: 600;
  opacity: .7;
  line-height: 2em;
  font-size: .9em;
}
li.post-button{
  margin-bottom: 4px;
  margin-top: 4px;
}

a.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top;
}

a.media-left, .media > .pull-left {
  padding-right: 10px;
}

.media-object {
  width: 95%;
  /*padding-left: 30px;*/
}

/*img {
  width: auto;
  display: all;
}*/

.media-body {
  width: 75%;
}


.btn.btn-xs.btn-rounded.uppercase {
  padding: 0 15px;
}
.main-list-tags .btn-xs {
  height: 26px;
  font-size: 10px;
  line-height: 24px;
  min-width: 0;
}

.btn-default:hover, .open > .dropdown-toggle.btn-default:focus, .btn-default:active {
  border-color:#5edcd0;
  background: #5edcd0;
  color: white;

}

section.tag-search {
  position: relative;
  padding: 20px 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}

/*Recipe Posts Styles*/
/**********************************************/
h3 {
  font-size: 1.5em;
  line-height: 30px;
  font-weight: 500;
}
p.listDescription {
  font-size: 12px;
  line-height: 20px;
}

ul.post-meta li a {
  margin-bottom: 0px;
}
ul.accordion.accordion-2 {
  margin-bottom: 2em;
}

li.listTags {
  float: left;
  color: #5edcd0;
  font-weight: 600;
  margin-right: 10px;
}

li.listTags::after {
  content: " | "; 
}

p.listDescription {
  margin-bottom: 0px;

}
div.title span {
  font-size: 1.1em; 
  font-weight: 600; 
  border-bottom: none;
}

.accordion-2 .title {
  font-size: 14px;
  padding: 0px 0 8px;
  /*padding-left: 25%;*/
}

section.page-title-2 {
  max-height: 30em;
  margin-bottom: 2em;
}
.post-image {
  position: relative;
  top: -100px;
}

 .steps-number {
  color: #5edcd0;
  font-size: 3em; 
  margin-top: .25em; 
  width: 25%;
 }

 .steps-text {
  width: 70%;
 }


 div.feature.feature-3.recipe div.left.steps {
  color: #5edcd0;
  font-size: 88px;
}



 /*768 max*/

 @media all and (max-width: 1100px) {
  .post-image {
    position: relative;
    top: -50px;
   }
  section.page-title-2 {
    max-height: 30em;
    margin-bottom: 2em;
  }
 }
 
 @media all and (min-width: 767px){
    .steps-number {
      color: #5edcd0;
      font-size: 1.8em;
      margin-top: 5px; 
      width: 12%;
    }
    .steps-text {
      margin-bottom: 0px;
      width: 87%;
    }
    .steps-text p {
      line-height: 1.5em;
      font-size: 0.75em;
    }
    .feature-3 {
      min-height: initial;
    }
 }

 @media all and (max-width: 768px) {
    .post-image {
      position: relative;
      top: -30px;
     }
    section.page-title-2 {
      max-height: 30em;
      margin-bottom: 2em;
    }
 }

 @media all and (max-width: 767px) {
    .post-image {
      position: relative;
      top: -30px;
     }
    section.page-title-2 {
      max-height: 30em;
      margin-bottom: 2em;
    }
  }

  @media all and (max-width: 570px) {
    /*570*/
    .post-image {
     position: relative;
     top: -30px;
    }
    section.page-title-2 {
     max-height: 15em;
     margin-bottom: 2em;
    }
 }

 @media all and (max-width: 767px) {
    .feature-3 .recipe .left,
    .feature-4 .left {
     margin-bottom: 8px;
    }
    .feature-3 .recipe .left,
    .feature-4 .left,
    .feature-3 .recipe .right,
    .feature-4 .right {
     width: 100%;
    }
    .feature-5 {
     padding: 40px 24px;
    }
    .steps-number {
    color: #5edcd0;
    font-size: 2em; 
    margin-top: 0px; 
    }
    .steps-text {
     margin-bottom: 0px;
    }
    .steps-text p {
     line-height: 1.5em;
     font-size: 14px;
    }
    .feature-3 .right {
    width: 80%;
    }
    .feature-3 .left {
    width: 15%;
    }
 }

 @media all and (max-width: 670px) {
    .steps-number {
       color: #5edcd0;
       font-size: 1.75em; 
       margin-top: 0px; 
    }
    .steps-text {
      margin-bottom: 0px;
    }
    .steps-text p {
      line-height: 1.5em;
      font-size: 14px;
    }

 }

 @media all and (max-width: 600px) {
    .steps-number {
       color: #5edcd0;
       font-size: 1.5em; 
       margin-top: 0px;
       margin-right: 5px; 
    }
    .steps-text {
      margin-bottom: 0px;
    }
    .steps-text p {
      line-height: 1.5em;
      font-size: 13px;
    }

 }


