/****** PLACE YOUR CUSTOM STYLES HERE ******/


/*Index Page Styles*/
/**********************************************/
.breadcrumb-2 > li + li:before {
  padding: 0 16px;
  color: transparent;
}
.muted {
  font-weight: 600;
  opacity: .7;
  line-height: 2em;
  font-size: .9em;
}
li.post-button{
  margin-bottom: 4px;
  margin-top: 4px;
}

a.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top;
}

a.media-left, .media > .pull-left {
  padding-right: 10px;
}

.media-object {
  width: 95%;
  /*padding-left: 30px;*/
}

/*img {
  width: auto;
  display: all;
}*/

.media-body {
  width: 75%;
}


.btn.btn-xs.btn-rounded.uppercase {
  padding: 0 15px;
}
.main-list-tags .btn-xs {
  height: 26px;
  font-size: 10px;
  line-height: 24px;
  min-width: 0;
}

.btn-default:hover, .open > .dropdown-toggle.btn-default:focus, .btn-default:active {
  border-color:#5edcd0;
  background: #5edcd0;
  color: white;

}

section.tag-search {
  position: relative;
  padding: 20px 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}

.accordion li.active .content {
    max-height: max-content;
}
.accordion-2 .content p {
    padding: 0;
}

/*Recipe Details Styles*/
/**********************************************/

.feature.boxed {
  /*padding-left: 15px;*/
  padding-right: 15px;
  margin-right: 3%;
  max-width: 30%;
}
ul.bullets {
    list-style: outside;
}

li.ingredients {
  line-height: normal;
  font-size: inherit;
}

/*Recipe Posts Styles*/
/**********************************************/
h3 {
  font-size: 1.5em;
  line-height: 30px;
  font-weight: 500;
}
p.listDescription {
  font-size: 12px;
  line-height: 20px;
}

ul.post-meta li a {
  margin-bottom: 0px;
}
ul.accordion.accordion-2 {
  margin-bottom: 2em;
}

li.listTags {
  float: left;
  color: #5edcd0;
  font-weight: 600;
  margin-right: 10px;
}

li.listTags::after {
  content: " | "; 
}

p.listDescription {
  margin-bottom: 0px;

}
div.title span {
  font-size: 1.1em; 
  font-weight: 600; 
  border-bottom: none;
}

.accordion-2 .title {
  font-size: 14px;
  padding: 0px 0 8px;
  /*padding-left: 25%;*/
}

section.page-title-2 {
  max-height: 30em;
  margin-bottom: 2em;
}
.post-image {
  position: relative;
  top: -100px;
}

 .steps-number {
  color: #5edcd0;
  font-size: 3em; 
  margin-top: .25em; 
  width: 25%;
 }

 .steps-text {
  width: 70%;
 }


 div.feature.feature-3.recipe div.left.steps {
  color: #5edcd0;
  font-size: 88px;
}



 /*768 max*/

 @media all and (max-width: 1100px) {
  .post-image {
    position: relative;
    top: -50px;
   }
  section.page-title-2 {
    max-height: 30em;
    margin-bottom: 2em;
  }
 }
 
 @media all and (min-width: 767px){
    .steps-number {
      color: #5edcd0;
      font-size: 1.8em;
      margin-top: 5px; 
      width: 12%;
    }
    .steps-text {
      margin-bottom: 0px;
      width: 87%;
    }
    .steps-text p {
      line-height: 1.5em;
      font-size: 0.75em;
    }
    .feature-3 {
      min-height: initial;
    }
 }

 @media all and (max-width: 768px) {
    .post-image {
      position: relative;
      top: -30px;
     }
    section.page-title-2 {
      max-height: 30em;
      margin-bottom: 2em;
    }
 }

 @media all and (max-width: 767px) {
    .post-image {
      position: relative;
      top: -30px;
     }
    section.page-title-2 {
      max-height: 30em;
      margin-bottom: 2em;
    }
  }

  @media all and (max-width: 570px) {
    /*570*/
    .post-image {
     position: relative;
     top: -30px;
    }
    section.page-title-2 {
     max-height: 15em;
     margin-bottom: 2em;
    }
 }

 @media all and (max-width: 767px) {
    .feature-3 .recipe .left,
    .feature-4 .left {
     margin-bottom: 8px;
    }
    .feature-3 .recipe .left,
    .feature-4 .left,
    .feature-3 .recipe .right,
    .feature-4 .right {
     width: 100%;
    }
    .feature-5 {
     padding: 40px 24px;
    }
    .steps-number {
    color: #5edcd0;
    font-size: 2em; 
    margin-top: 0px; 
    }
    .steps-text {
     margin-bottom: 0px;
    }
    .steps-text p {
     line-height: 1.5em;
     font-size: 14px;
    }
    .feature-3 .right {
    width: 80%;
    }
    .feature-3 .left {
    width: 15%;
    }
 }

 @media all and (max-width: 670px) {
    .steps-number {
       color: #5edcd0;
       font-size: 1.75em; 
       margin-top: 0px; 
    }
    .steps-text {
      margin-bottom: 0px;
    }
    .steps-text p {
      line-height: 1.5em;
      font-size: 14px;
    }

 }

 @media all and (max-width: 600px) {
    .steps-number {
       color: #5edcd0;
       font-size: 1.5em; 
       margin-top: 0px;
       margin-right: 5px; 
    }
    .steps-text {
      margin-bottom: 0px;
    }
    .steps-text p {
      line-height: 1.5em;
      font-size: 13px;
    }

 }

/* Footer Styles
**************************** */

footer {
  padding: 25px 0;
}


/* New Recipe Styles
**************************** */

.page-title-4 {
  height: 336px;
}

form.tagList {
  display: inline-block;
  align-items: center;
  margin-right: 15px;
}
form.tagList span {
  margin-right: 5px;
}
/*textarea::after {
    width: 100%;
    border: none;
    background: #f5f5f5;
    margin-bottom: 24px;
    border-radius: 0;
    padding: 16px 20px;
}
textarea:after {
    content: "\e6b4";
}*/


a.textareaButton {
  margin-top: 3px;
  margin-bottom: 10px;
  position: absolute;
  href=: ;
  /* float: right; */
  margin-left: 85%;
  /* x-offset-keyword | y-offset-keyword */
  transform-origin: right top;

}

.highlight {
    position: relative;
}
.highlight {
    background-color: #f5f5f5;
    border-radius: 0px;
    color: #586e75;
}
.highlight {
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
}
figure {
    display: block;
}
.highlight-full .highlight pre {
    max-height: none;
}

@media screen and (min-width: 769px), print .highlight pre {
    white-space: pre-wrap;
  }
}

.highlight pre {
    max-height: 320px;
    margin-bottom: 0!important;
}
.highlight pre {
    background-color: transparent;
    font-size: .875em;
    line-height: 1.375;
}

.highlight pre {
    overflow: auto;
    max-width: 100%;
}
.highlight .bd-copy, .highlight .bd-expand {
    background: 0 0;
    /*border: none;*/
    /*color: #4a4a4a;*/
    cursor: pointer;
    /*font-size: .625rem;*/
    outline: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: absolute;
    right: .25rem;
    top: .25rem;
}

pre {
    -webkit-overflow-scrolling: touch;
    background-color: #f5f5f5;
    color: #4a4a4a;
    font-size: .875em;
    overflow-x: auto;
    padding: 1.25rem 1.5rem;
    white-space: pre;
    word-wrap: normal;
    border: none;
    border-radius: 0px;
}
pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: monospace;
}
pre {
    margin: 0;
    padding: 0;
}

.highlight .bd-copy:hover, .highlight .bd-expand:hover {
    background-color: #5edcd0;
    color: white;
    font-weight: 700;
}

.button.is-small {
    border-radius: 2px;
    font-size: .75rem;
}

.btn, .button {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #5edcd0;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #5edcd0;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
}
.button:visited {
    color: #5edcd0;
}

.button.btn-icon.btn-sm {
    width: 30px;
    height: 30px;
    line-height: 29px;
    font-size: 14px;
    min-width: 0;
    padding: 0 0 0 1px!important;
}
