  <footer class="footer-1 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!-- <img alt="Logo" class="logo" src="img/logo-light.png" /> -->
          <h4><span style="font-weight: 600;">Beach House</span><br> Recipe Collection</h4>
        </div>
        <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Footer Section 1</h6>
          <hr>
          <ul class="link-list recent-posts">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <!--end of widget-->
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="widget">
            <h6 class="title">Footer Section 2</h6>
            <hr>
            <div class="twitter-feed">
              <div class="tweets-feed" data-widget-id="#">
              </div>
            </div>
          </div>
          <!--end of widget-->
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="widget">
            <h6 class="title">Footer Section 3</h6>
            <hr>
            <div class="instafeed" data-user-name="funsizeco">
              <ul></ul>
            </div>
          </div>
          <!--end of widget-->
        </div>
      </div>
      <!--end of row-->
    <div class="row">
      <div class="col-sm-6">
        <!-- <span class="sub">&copy; Copyright 2016 - Medium Rare</span> -->
      </div>
      <div class="col-sm-6 text-right">
        <ul class="list-inline social-list">
          <!-- <li>
            <a href="#">
              <i class="ti-twitter-alt"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-vimeo-alt"></i>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <!--end of container-->
  <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
</footer>
