<header class="site-header">
  <div class="nav-container">
    <a id="top"></a>
    <nav>
      <div class="nav-bar">
        <div class="module left">
          <a href="index.html" style="margin-top: 5px;">
            <H3>Recipes</H3>
            <!-- <img class="logo logo-light" alt="Foundry" src="img/logo-light.png" />
            <img class="logo logo-dark" alt="Foundry" src="img/logo-dark.png" /> -->
          </a>
        </div>
        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
          <i class="ti-menu"></i>
        </div>
        <div class="module-group right">
          <div class="module left">
            <ul class="menu">
              <!-- <li class="">
                <a href="/index.html">
                  Home
                </a>
              </li> -->
              <!-- <li class="">
                <a href="/new-recipe.html">
                  Add a recipe
                </a>
              </li> -->
              <!-- <li class="">
                <a href="/shopping-list">
                  Shopping List
                </a>
              </li> -->
              <!-- <li class="">
                <a href="/about.html">
                  About
                </a>
              </li> -->
            </ul>
          </div>
        </div>
        <!--end of module group-->
      </div>
    </nav>
  </div>
</header>
